
/* // In your CSS file (e.g., styles.css) */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* src/styles.css */
/* Import lexend-deca font */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* No Scrollbar Styles */
/* .no-scrollbar::-webkit-scrollbar {
  display: none;
} */

/*.no-scrollbar {
  -ms-overflow-style: none; *//* IE and Edge */
 /* scrollbar-width: none; *//* Firefox */ /*
}
*/
/* Responsive Variants */
/* @media (min-width: 640px) {
  .sm:no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .sm:no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
} */

/* @media (min-width: 768px) {
  .md:no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .md:no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
} */

/* Add more responsive breakpoints as needed */

/* .divContent{
  width: 400px;
} */
