@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.Carousel {
  /* width: 50%; */
  /* margin: 10%; */
  padding-top: 5%;
  padding-bottom: 5%;
}

.slide img {
  width: 90rem;
  margin: 0 auto;
  
}

.slide {
  transform: scale(0.7);
  transition: transform 500ms;
  opacity: 1;
  overflow: hidden; 
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

/* .next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
} */

.rounded-custom {
    border-radius: 40px; /* Adjust the radius value as needed */
  }